<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OAuth鉴权与认证示例</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">


<h1>API Key 限流[profile:apikey]</h1>
<div class="list-group">
  <a href="demo" class="list-group-item list-group-item-action">API Key 限流示例</a>
</div>


<h1>Sa-Token 接口测试平台[profile:sa-token-simple]</h1>
<div class="list-group">
  <a href="simple" class="list-group-item list-group-item-action">Sa-Token 接口测试平台</a>
</div>
</body>
</html>