<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Feature客户端示例</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h1>google认证[profile:googleauth]</h1>
<div class="list-group">
  <a href="auth" class="list-group-item list-group-item-action">google认证 示例</a>

  <a href="blog" class="list-group-item list-group-item-action">发布博客(google认证) 示例</a>
</div>

<h1>客户端[profile:client]</h1>
<div class="list-group">
  <a href="client" class="list-group-item list-group-item-action">客户端 示例</a>
</div>

<h1>xss攻击[profile:xss]</h1>
<div class="list-group">
  <a href="xss-demo" class="list-group-item list-group-item-action">xss攻击 示例</a>
</div>

</body>
</html>