<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Common客户端示例</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h1>全局异常处理[profile:exception]</h1>
<div class="list-group">
  <a href="demo" class="list-group-item list-group-item-action">异常处理 示例</a>
</div>


<h1>异步任务执行演示[profile:task]</h1>
<div class="list-group">
  <a href="demo" class="list-group-item list-group-item-action">异步任务执行 示例</a>
</div>


<h1>UID 生成器[profile:uid]</h1>
<div class="list-group">
  <a href="demo" class="list-group-item list-group-item-action">UID 生成器 示例</a>
</div>
</body>
</html>