<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Captcha示例</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1>加解密简单示例 [profile: simple]</h1>
<div class="list-group">
  <a href="page/crypto" class="list-group-item list-group-item-action">加解数据 示例</a>
  <a href="page/digest" class="list-group-item list-group-item-action">签名数据 示例</a>
</div>

<h1>API加密解密[profile:api]</h1>
<div class="list-group">
  <a href="api" class="list-group-item list-group-item-action">API加密解密 示例</a>
</div>

</body>
</html>