<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Feature客户端示例</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1>签到示例</h1>
<div class="list-group">
  <a href="/sign-in/input" class="list-group-item list-group-item-action">签到</a>
  <a href="/sign-in/list" class="list-group-item list-group-item-action">签到记录查询</a>
</div>




<h1>TOTP 应用[profile:googleauth]</h1>
<div class="list-group">
  <a href="2fa" class="list-group-item list-group-item-action">两步验证 示例</a>
  <a href="blog-2fa" class="list-group-item list-group-item-action">博客发布(2fa) 示例</a>
</div>

<h1>计划任务[profile:schedule]</h1>
<div class="list-group">
  <a href="manager" class="list-group-item list-group-item-action">任务调度管理 示例</a>
  <a href="job-list" class="list-group-item list-group-item-action">任务管理 示例</a>
  <a href="job-log-list" class="list-group-item list-group-item-action">任务日志 示例</a>
</div>
</body>
</html>