<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<base th:href="@{/}" />
		<title>认证中心-登录页</title>
		<style type="text/css">
			body{background-color: #F5F5D5;}
			*{margin: 0px; padding: 0px;}
			.login-box{width: 400px; margin: 20vh auto;}
			.login-box input{line-height: 25px; margin-bottom: 10px;}
			.login-box button{padding: 5px 15px; cursor: pointer; }
		</style>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/sa-res/layer/layer.js}"></script>
	</head>
	<body>
		<div class="login-box">
			<h2>认证中心-登录页</h2> <br>
			账号：<input name="name" /> <br>
			密码：<input name="pwd" type="password" /> <br>
			<button onclick="doLogin()">登录</button>
		</div>
		<script type="text/javascript">
			
			// 登录方法 
			function doLogin() {
				$.ajax({
					url: '/accounts/doLogin',
					data: {
						name: $('[name=name]').val(),
						pwd: $('[name=pwd]').val()
					},
					dataType: 'json', 
					success: function(res) {
						layer.msg('登录成功！');
						setTimeout(function() {
							location.reload(true);
						}, 800);
					},
					error: function(e) {
						layer.alert(e.responseJSON.title);
					}
				});
			}
		</script>
	</body>
</html>
